name: Android Build

on:
  workflow_call:
    inputs:
      build_number:
        type: string
        required: true
      profile:
        type: string
        default: production
    secrets:
      EXPO_TOKEN:
        required: true
      EAS_PROJECT_ID:
        required: true
      ANDROID_SERVICE_ACCOUNT_JSON:
        required: true

jobs:
  android:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          yarn install
          yarn global add eas-cli
          npm install -g expo-cli

      - name: Configure credentials
        run: |
          mkdir -p credentials
          printf "%s" "${{ secrets.ANDROID_SERVICE_ACCOUNT_JSON }}" > credentials/service-account.json

      - name: Read version from app.json
        id: get_version
        run: |
          version=$(jq -r '.expo.version' app.json)
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Update build number only
        run: |
          echo "Updating Android versionCode with build_number: ${{ inputs.build_number }}"
          jq ".expo.android.versionCode = (${{ inputs.build_number }} | tonumber)" \
            app.json > tmp.json && mv tmp.json app.json

      - name: Prebuild
        run: npx expo prebuild --non-interactive

      - name: Build AAB
        run: |
          mkdir -p builds

          export EXPO_TOKEN="${{ secrets.EXPO_TOKEN }}"
          version="${{ steps.get_version.outputs.version }}"
          outfile="builds/ikt-${version}-${{ inputs.build_number }}.aab"

          eas build \
            --platform android \
            --profile ${{ inputs.profile }} \
            --local \
            --output "$outfile" \
            --non-interactive
            --clear-cache

      - uses: actions/upload-artifact@v4
        with:
          name: android-${{ steps.get_version.outputs.version }}-${{ inputs.build_number }}
          path: builds

      - name: Submit to Google Play
        run: |
          export EXPO_TOKEN="${{ secrets.EXPO_TOKEN }}"
          version="${{ steps.get_version.outputs.version }}"
          outfile="builds/ikt-${version}-${{ inputs.build_number }}.aab"
          echo "Submitting $outfile to Google Play..."

          eas submit --platform android \
            --path "$outfile" \
            --profile ${{ inputs.profile }} \
            --non-interactive
