name: iOS Build

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      build_number:
        type: string
        required: true
      profile:
        type: string
        default: staging
    secrets:
      EXPO_TOKEN:
        required: true
      EAS_PROJECT_ID:
        required: true
      APPLE_APP_SPECIFIC_PASSWORD:
        required: true
      APPLE_ID:
        required: false

jobs:
  ios:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          yarn install
          yarn global add eas-cli
          npm install -g expo-cli

      - name: Prebuild
        run: npx expo prebuild --non-interactive

      - name: Build IPA
        run: |
          mkdir -p builds

          export EXPO_TOKEN="${{ secrets.EXPO_TOKEN }}"
          outfile="builds/ikt-${{ inputs.version }}-${{ inputs.build_number }}.ipa"

          eas build \
            --platform ios \
            --profile ${{ inputs.profile }} \
            --local \
            --output "$outfile" \
            --non-interactive

      - uses: actions/upload-artifact@v4
        with:
          name: ios-${{ inputs.version }}-${{ inputs.build_number }}
          path: builds

      - name: Submit to TestFlight / App Store
        if: ${{ inputs.profile != 'local' }} # skip local profile
        run: |
          export EXPO_TOKEN="${{ secrets.EXPO_TOKEN }}"
          export EXPO_APPLE_APP_SPECIFIC_PASSWORD="${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}"
          export EXPO_APPLE_ID="${{ secrets.APPLE_ID }}"

          outfile="builds/ikt-${{ inputs.version }}-${{ inputs.build_number }}.ipa"
          echo "Submitting $outfile to App Store..."
          eas submit --platform ios \
            --path "$outfile" \
            --profile ${{ inputs.profile }} \
            --apple-id "${{ secrets.APPLE_ID }}" \
            --apple-app-specific-password "${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}" \
            --non-interactive
