name: Test Google Service Account

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  test-service-account:
    runs-on: ubuntu-latest

    env:
      ANDROID_SERVICE_ACCOUNT_JSON: ${{ secrets.ANDROID_SERVICE_ACCOUNT_JSON }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure Google Play credentials
        run: |
          mkdir -p ./credentials
          printf "%s" "${ANDROID_SERVICE_ACCOUNT_JSON}" > ./credentials/service-account.json
          echo "Service account JSON copied successfully."

      - name: Print full service account JSON
        run: |
          cat ./credentials/service-account.json
