name: Versioning

on:
  workflow_call:
    inputs:
      version:
        required: false
        type: string
    outputs:
      version:
        value: ${{ jobs.version.outputs.version }}
      build_number:
        value: ${{ jobs.version.outputs.build_number }}

jobs:
  version:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.ver.outputs.version }}
      build_number: ${{ steps.build.outputs.build_number }}

    steps:
      - uses: actions/checkout@v3

      - name: Determine version
        id: ver
        run: |
          if [ -n "${{ inputs.version }}" ]; then
            version="${{ inputs.version }}"
          else
            branch="${GITHUB_REF##*/}"
            version="${branch#release/}"
          fi

          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Create build number
        id: build
        run: |
          base=$(date +%Y%m%d)      # e.g., 20251114
          time=$(date +%H%M)        # e.g., 0153
          new="${base}0${time}"     # 0 = separator

          echo "build_number=$new" >> $GITHUB_OUTPUT
